version: '3.8'
services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:/var/jenkins_home
    ports:
      - 8080:8080
      #- 5000:5000
volumes:
  jenkins_home:
